/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 15px; // For consistent padding
$grey: #fafafa; // Background color
$width: 600px; // Width of the content area
$br: 0; // Border radius
$primary-color: #fc7e04; // Primary color for buttons and links
