---
layout: default.hbs
subject: Branded transaction email example
---
<div class="header">
</div>
<table class="main" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-wrap">
			<table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="aligncenter">
                        <a href="http://www.mailgun.com"><img src="http://ukcdn.ar-cdn.com/allrecipes-UK.png?v=1" height="50" alt="Mailgun"></a>
                    </td>
                </tr>
                <tr>
                    <td class="aligncenter userImage">
                        <p>  <img src="http://ukcdn.ar-cdn.com/personal/large/c1262c9d-eaf6-459a-b470-0fe325a95874.jpg"></p>
                    </td>
                </tr>                
                <tr>
                    <td>
                        <h2>
                            Hi there,<br />
                            pipersacco saved your recipe

                        </h2>
                    </td>
				</tr>
                <tr>
                    <td class="aligncenter paddingBTN">
                        <a href="https://github.com/leemunroe/html-email-template" class="btn-primary">Visit their Profile</a>
                    </td>
                </tr>

			</table>
		</td>
	</tr>
</table>
<div class="footer">
	<table width="100%">
		<tr>
			<td class="aligncenter">Follow <a href="http://twitter.com/leemunroe">@leemunroe</a> on Twitter.</td>
		</tr>
	</table>
</div>