---
layout: default.hbs
subject: Branded transaction email example
---
<div class="header">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="aligncenter">
                <a href="http://www.mailgun.com"><img src="http://ukcdn.ar-cdn.com/allrecipes-UK.png?v=1" height="50" alt="Mailgun"></a>
            </td>
        </tr>
    </table>
</div>
<table class="main" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-wrap">
            <!-- BEGIN HERO -->
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <h1>Welcome, bakingmaster </h1>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <p>TLorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec ligula nec dolor tempor pretium. Nullam porttitor nisl metus, et pulvinar magna fringilla at. Donec in ligula est. Morbi vitae dignissim odio. Ut ut magna maximus, hendrerit lacus vel, lacinia libero. Cum sociis natoque penatibus et magnis dis parturient monte</p>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
           </table>
            <table width="100%" cellpadding="0" cellspacing="0" class="userFeature">
                <tr>
                    <td class="mainContainLeft">
                        <img src="http://placehold.it/250X250" alt="ICON PHOTO" class="recipePhoto">
                    </td>
                    <td class="pad10 mainPhotoRight">
                        <p>Unfortunately, when it comes to producing something of a higher standard, such as an appealing newsletter aimed to attract users into your site, or even to convert those visits into sales, you have to go a bit beyond a simple table with text.</p>
                        <p>&nbsp;</p>
                        <p class="aligncenter"><a href="" class="btn-primary">Update Now!</a></p>
                    </td>
                </tr>
            </table>
            
            <!-- BEGIN TWO COL TEMPLATE-->
            <table width="100%" cellpadding="0" cellspacing="0" class="twoColContent">
                <tr>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td class="leftImage">
                        <img src="http://placehold.it/70x70" alt="ICON PHOTO">
                    </td>
                    <td class="pad10">
                        <h5>Recipes</h5>
                        <p>Donec sit amet tristique orci, eu ultrices odio. Aliquam mattis tortor elit, vitae convallis mauris ultricies non. Pellentesque posuere quis nibh tempor ullamcorper. Vivamus ullamcorper vel urna dapibus pulvinar. <a href="">Call to Action Link >></a></p>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="leftImage">
                        <img src="http://placehold.it/70x70" alt="ICON PHOTO">
                    </td>
                    <td class="pad10">
                        <h5>Cooking Videos</h5>
                        <p>Nunc ultrices, eros et faucibus lobortis, mauris justo posuere risus, non mollis metus felis vitae velit. Maecenas nec bibendum quam. Sed eros felis, fermentum ut sem vel, porta ultricies eros. Aenean vel luctus nunc. Aenean rhoncus eros dictum tellus eleifend ornare vel at ex. Sed et purus vel dolor scelerisque efficitur vel in dui. Nullam blandit sed nisi a gravida. <a href="">Call to Action Link >></a> </p>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="leftImage">
                        <img src="http://placehold.it/70x70" alt="ICON PHOTO">
                    </td>
                    <td class="pad10">
                        <h5>MyStuff</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec ligula nec dolor tempor pretium. Nullam porttitor nisl metus, et pulvinar magna fringilla at. Donec in ligula est. Morbi vitae dignissim odio. Ut ut magna maximus, hendrerit lacus vel, lacinia libero. Cum sociis natoque penatibus et magnis dis parturient montefreegan Brooklyn High Life cardigan iPhone ethical jean shorts. <a href="">Call to Action Link >></a></p>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="leftImage">
                        <img src="http://placehold.it/70x70" alt="ICON PHOTO">
                    </td>
                    <td class="pad10">
                        <h5>Share</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec ligula nec dolor tempor pretium. Nullam porttitor nisl metus, et pulvinar magna fringilla at. Donec in ligula est. Morbi vitae dignissim odio. Ut ut magna maximus, hendrerit lacus vel, lacinia libero. Cum sociis natoque penatibus et magnis dis parturient montes freegan Brooklyn High Life cardigan iPhone ethical jean shorts. <a href="">Call to Action Link >></a> </p>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" class="aligncenter">
                        <a href="" class="btn-primary">Update Now!</a>
                    </td>
                </tr>
            </table>
		</td>
	</tr>
</table>
<div class="footer">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="aligncenter"><a href="">Manage Email</a> | <a href="">Unsubscribe</a> | <a href="">Change Email Address</a> | <a href="">Contact Us</a> | <a href="">Privacy Policy</a></td>
        </tr>
        <tr>
            <td>
                ALL RIGHTS RESERVED 2014. Allrecipes, 413 Pine Street, Suite 500, Seattle, WA 98101
                You are currently subscribed as: aharmo3@gmail.com.
            </td>
        </tr>

    </table>
</div>